<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Tokenpie后台管理</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" th:href="@{/img/fav.ico}" type="image/x-icon" />
    <link th:href="@{/js/layui/css/layui.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/amazeui.min.css?a=2}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrapValidator.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/ztree/demo.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/ztree/zTreeStyle/zTreeStyle.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/select2.css}" rel="stylesheet" media="screen"/>

    <style>
        #scrollUp {
            position: fixed;
            right: 10px;
            bottom: 10px;
            color: #2ebfcc;
            font-size: 25px;
            display: none;
            cursor: pointer;
        }

        @media only screen and (max-width: 800px) {
            .am-topbar-inverse .am-topbar-nav > li > .right-a, .am-topbar-inverse .am-topbar-nav > li > a {
                height: 34px;
                line-height: 34px;
                padding: 0 12px;
            }

            #scrollUp {
                display: block;
            }
        }

        li {
            margin: 10px
        }

    </style>

</head>
<body data-type="index">
<span th:text="${contextPath}" id="contextPath" style="display: none;"></span>
<span th:text="${frontPath}" id="frontPath" style="display: none;"></span>
<span th:text="${moonPath}" id="moonPath" style="display: none;"></span>

<div class="tpl-page-container tpl-page-header-fixed">
    <!--侧边栏-->
    <div class="tpl-left-nav tpl-left-nav-hover left-slidebar" th:fragment="menu" style="height:100%; width: 15%">
        <div class="tpl-left-nav-list " style="padding:0 0 0 50px">
            <ul class="tpl-left-nav-menu" id="menu">
                <li style="margin:10px">
                    <a id="indexPage" class="left-slidebar-a btn btn-default">
                        <span th:text="'首页'"></span>
                    </a>
                </li>
                <li>
                    <a id="gotoProjectPage" class="left-slidebar-a btn btn-default">
                        <span th:text="'项目'"></span>
                    </a>
                </li>
                <li>
                    <a id="gotoProjectStatisticPage" class="left-slidebar-a btn btn-default">
                        <span th:text="'统计'"></span>
                    </a>
                </li>

                <li>
                    <a id="gotoUserTxInfoPage" class="left-slidebar-a btn btn-default">
                        <span th:text="'用户交易'"></span>
                    </a>
                </li>

                <li>
                    <a id="gotoProjectTxInfoPage" class="left-slidebar-a btn btn-default">
                        <span th:text="'项目交易'"></span>
                    </a>
                </li>

                <li>
                    <a id="gotoPlatformAddressPage" class="left-slidebar-a btn btn-default">
                        <span th:text="'平台地址'"></span>
                    </a>
                </li>


                <!--       <li>
                           <a id="gotoQuartzPage" class="left-slidebar-a btn btn-default">
                               <span th:text="'定时任务'"></span>
                           </a>
                       </li>-->
                <!-- <li>
                     <a id="gotoStarUser" class="left-slidebar-a btn btn-default">
                         <span th:text="'用户'"></span>
                     </a>
                 </li>-->
            </ul>
            </li>
            </ul>
        </div>
    </div>
    <!--主体部分-->
    <div id="content"></div>
</div>
<i id="scrollUp" data-am-smooth-scroll="{position: 0}" class="am-icon-arrow-up am-icon-fa-arrow-up"
   aria-hidden="true"></i>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src='@{/js/bootstrap.min.js}'></script>
<script th:src='@{/js/datatimepicker/bootstrap-datetimepicker.js}'></script>
<script th:src='@{/js/datatimepicker/locales/bootstrap-datetimepicker.zh-CN.js}'></script>
<script th:src="@{/js/toastr.min.js}"></script>
<script th:src='@{/js/bootstrap-table.js}'></script>
<script th:src='@{/js/bootstrap-table-zh-CN.js}'></script>
<script th:src='@{/js/bootstrap-table-export.js}'></script>
<script th:src='@{/js/jquery.base64.js}'></script>
<script th:src='@{/js/tableExport.js}'></script>
<script th:src="@{/js/layer/layer.js}"></script>
<script th:src="@{/js/layui/layui.js}"></script>
<script th:src="@{/js/multiselect.min.js}"></script>
<script th:src="@{/js/bootbox.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/ztree/jquery.ztree.core.js}"></script>
<script th:src="@{/js/ztree/jquery.ztree.excheck.js}"></script>
<script th:src="@{/js/ztree/jquery.ztree.exedit.js}"></script>
<script th:src="@{/js/bootstrapValidator.js}"></script>
<script th:src="@{/js/numeral/numeral.js}"></script>
<script th:src="@{/js/select2/select2.js}"></script>
<script th:src="@{/js/password.js}"></script>

<script type="text/javascript">

    $(function () {

        $('.left-slidebar-a').click(function () {
            $('.left-slidebar-a').each(function () {
                $(this).removeClass('btn-info');
            })
            $(this).addClass('btn btn-info left').css("text-align", "left");
        })

        $('#gotoProjectPage').click();
    })


</script>


</body>
</html>