<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.witshare.mars.dao.mysql.RecordPlatformTxMapper" >
  <resultMap id="BaseResultMap" type="com.witshare.mars.pojo.domain.RecordPlatformTx" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_gid" property="projectGid" jdbcType="CHAR" />
    <result column="project_token" property="projectToken" jdbcType="VARCHAR" />
    <result column="tx_hash" property="txHash" jdbcType="VARCHAR" />
    <result column="tx_type" property="txType" jdbcType="TINYINT" />
    <result column="from_name" property="fromName" jdbcType="VARCHAR" />
    <result column="from_address" property="fromAddress" jdbcType="VARCHAR" />
    <result column="to_name" property="toName" jdbcType="VARCHAR" />
    <result column="to_address" property="toAddress" jdbcType="VARCHAR" />
    <result column="tx_token_type" property="txTokenType" jdbcType="VARCHAR" />
    <result column="tx_amount" property="txAmount" jdbcType="DECIMAL" />
    <result column="eth_fee" property="ethFee" jdbcType="DECIMAL" />
    <result column="tx_status" property="txStatus" jdbcType="TINYINT" />
    <result column="tx_verification_time" property="txVerificationTime" jdbcType="TIMESTAMP" />
    <result column="tx_time" property="txTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_gid, project_token, tx_hash, tx_type, from_name, from_address, to_name, 
    to_address, tx_token_type, tx_amount, eth_fee, tx_status, tx_verification_time, tx_time, 
    create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.witshare.mars.pojo.domain.RecordPlatformTxExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from record_platform_tx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from record_platform_tx
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from record_platform_tx
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.witshare.mars.pojo.domain.RecordPlatformTxExample" >
    delete from record_platform_tx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.witshare.mars.pojo.domain.RecordPlatformTx" useGeneratedKeys="true" keyProperty="id" >
    insert into record_platform_tx (project_gid, project_token, tx_hash, 
      tx_type, from_name, from_address, 
      to_name, to_address, tx_token_type, 
      tx_amount, eth_fee, tx_status, 
      tx_verification_time, tx_time, create_time, 
      update_time)
    values (#{projectGid,jdbcType=CHAR}, #{projectToken,jdbcType=VARCHAR}, #{txHash,jdbcType=VARCHAR}, 
      #{txType,jdbcType=TINYINT}, #{fromName,jdbcType=VARCHAR}, #{fromAddress,jdbcType=VARCHAR}, 
      #{toName,jdbcType=VARCHAR}, #{toAddress,jdbcType=VARCHAR}, #{txTokenType,jdbcType=VARCHAR}, 
      #{txAmount,jdbcType=DECIMAL}, #{ethFee,jdbcType=DECIMAL}, #{txStatus,jdbcType=TINYINT}, 
      #{txVerificationTime,jdbcType=TIMESTAMP}, #{txTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.witshare.mars.pojo.domain.RecordPlatformTx" useGeneratedKeys="true" keyProperty="id" >
    insert into record_platform_tx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectGid != null" >
        project_gid,
      </if>
      <if test="projectToken != null" >
        project_token,
      </if>
      <if test="txHash != null" >
        tx_hash,
      </if>
      <if test="txType != null" >
        tx_type,
      </if>
      <if test="fromName != null" >
        from_name,
      </if>
      <if test="fromAddress != null" >
        from_address,
      </if>
      <if test="toName != null" >
        to_name,
      </if>
      <if test="toAddress != null" >
        to_address,
      </if>
      <if test="txTokenType != null" >
        tx_token_type,
      </if>
      <if test="txAmount != null" >
        tx_amount,
      </if>
      <if test="ethFee != null" >
        eth_fee,
      </if>
      <if test="txStatus != null" >
        tx_status,
      </if>
      <if test="txVerificationTime != null" >
        tx_verification_time,
      </if>
      <if test="txTime != null" >
        tx_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectGid != null" >
        #{projectGid,jdbcType=CHAR},
      </if>
      <if test="projectToken != null" >
        #{projectToken,jdbcType=VARCHAR},
      </if>
      <if test="txHash != null" >
        #{txHash,jdbcType=VARCHAR},
      </if>
      <if test="txType != null" >
        #{txType,jdbcType=TINYINT},
      </if>
      <if test="fromName != null" >
        #{fromName,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null" >
        #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="toName != null" >
        #{toName,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null" >
        #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="txTokenType != null" >
        #{txTokenType,jdbcType=VARCHAR},
      </if>
      <if test="txAmount != null" >
        #{txAmount,jdbcType=DECIMAL},
      </if>
      <if test="ethFee != null" >
        #{ethFee,jdbcType=DECIMAL},
      </if>
      <if test="txStatus != null" >
        #{txStatus,jdbcType=TINYINT},
      </if>
      <if test="txVerificationTime != null" >
        #{txVerificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="txTime != null" >
        #{txTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.witshare.mars.pojo.domain.RecordPlatformTxExample" resultType="java.lang.Integer" >
    select count(*) from record_platform_tx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update record_platform_tx
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectGid != null" >
        project_gid = #{record.projectGid,jdbcType=CHAR},
      </if>
      <if test="record.projectToken != null" >
        project_token = #{record.projectToken,jdbcType=VARCHAR},
      </if>
      <if test="record.txHash != null" >
        tx_hash = #{record.txHash,jdbcType=VARCHAR},
      </if>
      <if test="record.txType != null" >
        tx_type = #{record.txType,jdbcType=TINYINT},
      </if>
      <if test="record.fromName != null" >
        from_name = #{record.fromName,jdbcType=VARCHAR},
      </if>
      <if test="record.fromAddress != null" >
        from_address = #{record.fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.toName != null" >
        to_name = #{record.toName,jdbcType=VARCHAR},
      </if>
      <if test="record.toAddress != null" >
        to_address = #{record.toAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.txTokenType != null" >
        tx_token_type = #{record.txTokenType,jdbcType=VARCHAR},
      </if>
      <if test="record.txAmount != null" >
        tx_amount = #{record.txAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.ethFee != null" >
        eth_fee = #{record.ethFee,jdbcType=DECIMAL},
      </if>
      <if test="record.txStatus != null" >
        tx_status = #{record.txStatus,jdbcType=TINYINT},
      </if>
      <if test="record.txVerificationTime != null" >
        tx_verification_time = #{record.txVerificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.txTime != null" >
        tx_time = #{record.txTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update record_platform_tx
    set id = #{record.id,jdbcType=INTEGER},
      project_gid = #{record.projectGid,jdbcType=CHAR},
      project_token = #{record.projectToken,jdbcType=VARCHAR},
      tx_hash = #{record.txHash,jdbcType=VARCHAR},
      tx_type = #{record.txType,jdbcType=TINYINT},
      from_name = #{record.fromName,jdbcType=VARCHAR},
      from_address = #{record.fromAddress,jdbcType=VARCHAR},
      to_name = #{record.toName,jdbcType=VARCHAR},
      to_address = #{record.toAddress,jdbcType=VARCHAR},
      tx_token_type = #{record.txTokenType,jdbcType=VARCHAR},
      tx_amount = #{record.txAmount,jdbcType=DECIMAL},
      eth_fee = #{record.ethFee,jdbcType=DECIMAL},
      tx_status = #{record.txStatus,jdbcType=TINYINT},
      tx_verification_time = #{record.txVerificationTime,jdbcType=TIMESTAMP},
      tx_time = #{record.txTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.witshare.mars.pojo.domain.RecordPlatformTx" >
    update record_platform_tx
    <set >
      <if test="projectGid != null" >
        project_gid = #{projectGid,jdbcType=CHAR},
      </if>
      <if test="projectToken != null" >
        project_token = #{projectToken,jdbcType=VARCHAR},
      </if>
      <if test="txHash != null" >
        tx_hash = #{txHash,jdbcType=VARCHAR},
      </if>
      <if test="txType != null" >
        tx_type = #{txType,jdbcType=TINYINT},
      </if>
      <if test="fromName != null" >
        from_name = #{fromName,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null" >
        from_address = #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="toName != null" >
        to_name = #{toName,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null" >
        to_address = #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="txTokenType != null" >
        tx_token_type = #{txTokenType,jdbcType=VARCHAR},
      </if>
      <if test="txAmount != null" >
        tx_amount = #{txAmount,jdbcType=DECIMAL},
      </if>
      <if test="ethFee != null" >
        eth_fee = #{ethFee,jdbcType=DECIMAL},
      </if>
      <if test="txStatus != null" >
        tx_status = #{txStatus,jdbcType=TINYINT},
      </if>
      <if test="txVerificationTime != null" >
        tx_verification_time = #{txVerificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="txTime != null" >
        tx_time = #{txTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.witshare.mars.pojo.domain.RecordPlatformTx" >
    update record_platform_tx
    set project_gid = #{projectGid,jdbcType=CHAR},
      project_token = #{projectToken,jdbcType=VARCHAR},
      tx_hash = #{txHash,jdbcType=VARCHAR},
      tx_type = #{txType,jdbcType=TINYINT},
      from_name = #{fromName,jdbcType=VARCHAR},
      from_address = #{fromAddress,jdbcType=VARCHAR},
      to_name = #{toName,jdbcType=VARCHAR},
      to_address = #{toAddress,jdbcType=VARCHAR},
      tx_token_type = #{txTokenType,jdbcType=VARCHAR},
      tx_amount = #{txAmount,jdbcType=DECIMAL},
      eth_fee = #{ethFee,jdbcType=DECIMAL},
      tx_status = #{txStatus,jdbcType=TINYINT},
      tx_verification_time = #{txVerificationTime,jdbcType=TIMESTAMP},
      tx_time = #{txTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>