<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.witshare.mars.dao.mysql.StaticSysUserTxMapper">

    <insert id="insert" parameterType="com.witshare.mars.pojo.dto.RecordUserTxBean" useGeneratedKeys="true"
            keyProperty="id">
        insert into record_user_tx (user_gid, user_email, project_gid,
          project_token, pay_coin_type, pay_tx,
          pay_amount, price_rate,
          hope_get_amount, create_time, update_time)
        values (#{userGid,jdbcType=CHAR}, #{userEmail,jdbcType=VARCHAR}, #{projectGid,jdbcType=CHAR},
          #{projectToken,jdbcType=VARCHAR}, #{payCoinType,jdbcType=TINYINT}, #{payTx,jdbcType=VARCHAR},
           #{payAmount,jdbcType=DECIMAL}, #{priceRate,jdbcType=DECIMAL},
          #{hopeGetAmount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

    <sql id="Base_Column_List" >
        id, user_gid, user_email, project_gid, project_token, pay_coin_type, pay_tx, pay_tx_id,
        pay_amount, price_rate, hope_get_amount, should_get_amount, actual_pay_amount, actual_get_amount,
        user_tx_status, platform_tx, eth_fee, platform_tx_status, distribution_time, create_time,
        update_time
    </sql>

    <select id="select" resultType="com.witshare.mars.pojo.dto.RecordUserTxBean">
        select
        <include refid="Base_Column_List"/>
        from record_user_tx
        where user_gid = #{userGid} AND project_gid = #{projectGid}
    </select>


</mapper>