<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.witshare.mars.dao.mysql.StaticProjectWebsiteMapper">

    <insert id="saveOrUpdate">
        REPLACE INTO
        `project_website`(`project_gid`,`website_type`,`link_url`,`create_time`,`update_time`)
        VALUES
        (#{projectGid}, 'gitHub', #{gitHub}, now(), now()),
        (#{projectGid}, 'twitter', #{twitter}, now(), now()),
        (#{projectGid}, 'facebook', #{facebook}, now(), now()),
        (#{projectGid}, 'telegram', #{telegram}, now(), now()),
        (#{projectGid}, 'reddit', #{reddit}, now(), now()),
        (#{projectGid}, 'officialLink', #{officialLink}, now(), now()),
        (#{projectGid}, 'biYong', #{biYong}, now(), now()),
        (#{projectGid}, 'kyc', #{kyc}, now(), now()),
        (#{projectGid}, 'tokenTerms', #{tokenTerms}, now(), now()),
        (#{projectGid}, 'privacyPolicy', #{privacyPolicy}, now(), now())
        ;
    </insert>

</mapper>