<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.witshare.mars.dao.mysql.StaticSysProjectMapper">

    <select id="checkExist" parameterType="com.witshare.mars.pojo.dto.SysProjectBean" resultType="int">
        SELECT (
        (SELECT COUNT(0)
        FROM `sys_project`
        WHERE `project_token`=#{projectToken}

        )+
        (SELECT COUNT(0)
        FROM `project_description_en`
        WHERE `project_name`=#{projectNameEn}

        )
        <if test="projectNameCn != null and projectNameCn!=''">
            + (SELECT COUNT(0)
            FROM `project_description_cn`
            WHERE `project_name`=#{projectNameCn}
            )
        </if>
        <if test="projectNameKo != null and projectNameKo!=''">
            + (SELECT COUNT(0)
            FROM `project_description_ko`
            WHERE `project_name`=#{projectNameKo}
            )
        </if>
        <if test="projectNameJa != null and projectNameJa!=''">
            + (SELECT COUNT(0)
            FROM `project_description_ja`
            WHERE `project_name`=#{projectNameJa}
            )
        </if>


        )
    </select>


    <insert id="saveOrUpdate" parameterType="com.witshare.mars.pojo.dto.SysProjectBean">
        INSERT INTO `sys_project`
        (`project_gid`, `project_token`,`token_address`,`platform_address`,`project_address`,
        `project_logo_link`,`project_img_link`,
        `soft_cap`,`hard_cap`,`min_purchase_amount`,`start_time`,`end_time`,`start_price`,`end_price`,
        `create_time`,`update_time`)
        VALUES
        (#{projectGid},#{projectToken},#{tokenAddress},#{platformAddress},#{projectAddress},
        #{projectLogoLink},#{projectImgLink},
        #{softCap},#{hardCap},#{minPurchaseAmount},#{startTime},#{endTime},#{startPrice},#{endPrice},
        NOW(),NOW() );
    </insert>

    <select id="selectPdfById" resultType="com.witshare.mars.pojo.dto.ProjectPdfBean">
        SELECT pd.`grade_report_link` linkName ,p.project_token token
        FROM ${tableName} pd
        LEFT JOIN `sys_project` p  ON p.`id`=pd.`project_id`
        WHERE pd.`project_id` = #{projectId}
    </select>

    <select id="selectProjectType" resultType="com.witshare.mars.pojo.dto.ConfProjectTypeBean">
        SELECT c.id id, CONCAT(p.zh,'/',c.`project_type_zh`) projectTypeZh, CONCAT(p.en,'/',c.`project_type_en`) projectTypeEn FROM `conf_project_type` c
        LEFT JOIN (SELECT `id`,`project_type_zh` zh,`project_type_en` en FROM `conf_project_type`) p ON c.`pid` = p.`id`
        WHERE c.pid != 0 AND c.id IN (SELECT DISTINCT `project_type_id` FROM `sys_project`)
        ORDER BY p.id
    </select>

    <select id="selectManagementById" resultType="com.witshare.mars.pojo.vo.SysProjectBeanVo">
        SELECT
        p.id id,
        p.`project_token` token,
        p.`project_ico` ico,
        p.`project_grade` grade,
        p.`official_link` officialLink,
        p.`project_accepting` accepting,
        p.`team_score` teamScore,
        p. `product_score` productScore,
        p.`schedule_score` scheduleScore,
        p.`commercial_substance_score` commercialSubstanceScore,
        p.`tokens_operation_score` tokensOperationScore,
        p.`project_type_id` typeId,
        p.`project_logo_link` log,
        p.`project_img_link` view,

        pe.`grade_report_link` pdfEn,
        pe.`project_content` contentEn,
        pe.`project_instruction` instructionEn,
        pe.`project_location` locationEn,
        pe.`project_name` projectNameEn,
        pe.`white_paper_link` whitePaperLinkEn,

        pz.`grade_report_link` pdfZh,
        pz.`project_content` contentZh,
        pz.`project_instruction` instructionZh,
        pz.`project_location` locationZh,
        pz.`project_name` projectNameZh,
        pz.`white_paper_link` whitePaperLinkZh

        FROM `sys_project` p
        LEFT JOIN `project_description_en` pe ON p.`id`=pe.`project_id`
        LEFT JOIN `project_description_zh` pz ON p.`id`=pz.`project_id`
        WHERE p.`id` = #{id}
    </select>

    <select id="selectManagementList" resultType="com.witshare.mars.pojo.vo.SysProjectListVo">
        SELECT `project_gid`,`project_token`,`start_time`,`end_time`,`project_status`,`is_available`
        FROM `sys_project`
        ORDER BY
        <choose>
            <when test="orderCondition != null and orderCondition != ''">
                ${orderCondition}
                <if test="ascOrdesc == -1">
                    DESC
                </if>
            </when>
            <otherwise>
                end_time,start_time,project_status
            </otherwise>
        </choose>
    </select>

    <select id="selectProjectList" parameterType="com.witshare.mars.pojo.dto.ProjectReqBean"
            resultType="com.witshare.mars.pojo.vo.SysProjectBeanFrontListVo">

        SELECT
        sp.project_gid AS projectGid,
        sp.project_token AS projectToken,
        pd.project_name AS projectName,
        sp.project_status AS projectStatus,
        pd.project_instruction AS projectInstruction,
        sp.project_logo_link AS projectLogoLink,
        sp.project_img_link AS projectImgLink,
        sp.start_time AS startTime,
        sp.end_time AS endTime
        FROM sys_project sp
        LEFT JOIN ${tableName} pd
        ON sp.project_gid = pd.project_gid
        <where>
            AND sp.is_available = 1
            <if test="projectName != null and projectName != ''">
                AND pd.project_name like '%${projectName}%'
            </if>
            <if test="projectToken != null and projectToken != ''">
                AND sp.project_token = #{projectToken}
            </if>
            <if test="projectStatus != null">
                AND sp.project_status = #{projectStatus}
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderCondition != null and orderCondition != ''">
                ${orderCondition}
                <if test="ascOrdesc == -1">
                    DESC
                </if>
            </when>
            <otherwise>
                sp.start_time, sp.end_time
            </otherwise>
        </choose>
    </select>

    <select id="selectMyProjects" parameterType="map" resultType="com.witshare.mars.pojo.dto.ProjectPageBean">

        SELECT
        sp.id AS id,
        pd.project_name AS projectName,
        sp.project_token AS projectToken,
        pd.project_instruction AS projectInstruction,
        sp.project_logo_link AS projectLogoLink,
        sp.project_type_id AS projectTypeId,
        sp.project_img_link AS projectImgLink,
        sp.project_ico AS projectIco,
        sp.project_grade AS projectGradeScore,
        sp.comment_count AS commentCount,
        sp.follower_count AS followerCount,
        1 AS followOrNot,
        sp.create_time AS createTime
        FROM sys_project sp
        LEFT JOIN ${tableName} pd
        ON sp.id = pd.project_id
        INNER JOIN project_follow_user pfu
        ON sp.id = pfu.project_id
        <where>
            pfu.user_id = #{userId}
            AND sp.project_status = 1
        </where>
        ORDER BY
        pfu.create_time DESC

    </select>

    <select id="selectSimpleProjectList" parameterType="map"
            resultType="com.witshare.mars.pojo.dto.GlobalSimpleBean">

        SELECT p.`id` AS id,
        CONCAT(pz.`project_name`, ' - ', pe.`project_name`, ' - ', p.`project_token`,if(project_status = 0, '(已隐藏)',
        '')) AS title,
        star_project AS showIndex
        FROM `sys_project` p
        LEFT JOIN `project_description_en` pe ON p.`id`=pe.`project_id`
        LEFT JOIN `project_description_zh` pz ON p.`id` = pz.`project_id`
        <where>
            <if test="indexShow == 0">
                star_project = 0
            </if>
            <if test="indexShow == 1">
                star_project &gt; 0
            </if>
            <if test="name != null and name != ''">
                AND (pz.`project_name` like '%${name}%'
                OR pe.`project_name` like '%${name}%'
                OR p.`project_token` like '%${name}%')
            </if>
        </where>
        ORDER BY p.`star_project`, pe.`project_name`

    </select>


    <update id="updateStarProject">

        UPDATE sys_project SET star_project = 0, update_time = now()
        WHERE star_project > 1;
        <if test="list.size() > 0">
            <foreach collection="list" item="id" index="index" separator=";">
                UPDATE sys_project SET star_project = #{index}+1, update_time = now()
                <where>
                    id = #{id}
                </where>
            </foreach>
        </if>

    </update>

    <select id="getStarProjectIds" parameterType="map" resultType="java.lang.Long">

        SELECT id
        FROM sys_project
        WHERE star_project > 0

    </select>

    <update id="updateProjectFollowCommentCount" parameterType="map">

        UPDATE sys_project
        SET follower_count = #{followCount},
        comment_count = #{commentCount}
        WHERE id = #{projectId}

    </update>

    <update id="modifyProjectStatus" parameterType="java.lang.Long">
        UPDATE `sys_project` SET `is_available` = !`is_available` WHERE `id` = #{id}
    </update>


    <select id="selectAllProjectId" parameterType="map" resultType="java.lang.String">

        SELECT project_gid
          FROM sys_project
          ORDER BY id
        LIMIT #{offSet}, #{limit}

    </select>

</mapper>