<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div class="am-popup-inner am-modal-active " style="display: block;">
    <div>
        <div class="col-md-12" style="text-align:center;">
            <div class="panel-body" style="padding-bottom:0px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="formSearch" class="form-inline">

                            <div class="form-group  col-md-2" style="margin-top:15px">
                                <label for="token_search" class="control-label  col-md-6">TOKEN</label>
                                <input type="text" class="form-control col-md-6" id="token_search"  style="width: 50%">
                            </div>

                            <div class="form-group  col-md-8" style="margin-top:15px">
                                    <label for="txHash_search" class="control-label col-md-2">交易号</label>
                                    <input type="text" class="form-control col-md-10" id="txHash_search" style="width:83.33%">
                            </div>

                            <div class="form-group  col-md-2" style="margin-top:15px">
                                <button type="button" id="btn_query" class="btn btn-primary col-md-5">查询</button>
                                <button type="button" id="btn_add" class="btn btn-info col-md-offset-2  col-md-5">新增</button>
                            </div>
                        </form>
                       <!-- <div class="form-inline">
                            <div class="form-group col-md-7">
                                <label for="payTx_" class="control-label col-md-2"
                                       style="text-align: left">TxHash</label>
                                <input type="text" class="form-control col-md-10 "
                                       style="text-align: left;width: 83%"
                                       id="payTx_" placeholder="">
                            </div>
                            <div class="form-group col-md-3 ">
                                <label for="payTxId_" class="control-label col-md-6"
                                       style="text-align: left">payTxId</label>
                                <input type="text" class="form-control  col-md-6 " style="text-align: left;width: 50%"
                                       id="payTxId_" placeholder="">
                            </div>
                            <div class="form-group  col-md-2 ">
                                <button type="button" id="btn_query" class="btn btn-primary">
                                    查询
                                </button>
                                <button id="export-excel" class="btn btn-info">数据导出</button>
                            </div>
                        </div>-->
                    </div>
                </div>
                <table id="inner_table"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增交易</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addEvent" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-11 control-label">
                                <input class="form-control" type="text" id="txHashAdd"
                                       name="txHashAdd" style="border-left:none;"
                                       autocomplete="off"
                                       placeholder="请输入交易号" required/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-lg-offset-4 col-md-2">保存</button>
                        <button type="reset" class="btn btn-danger col-lg-offset-2 col-md-2">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/custom/platform-tx-info.js}"></script>
</body>
</html>