<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">项目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addEvent" method="post" data-toggle="validator" role="form"
                      style="padding:50px">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label">中文名称</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="projectTypeNameZh" name="projectTypeNameZh"
                                       autocomplete="off" placeholder="ZH" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">EnglishName</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="projectTypeNameEn" name="projectTypeNameEn"
                                       autocomplete="off" placeholder="EN" required>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-lg-offset-4 col-md-2">保存</button>
                        <button type="reset" class="btn btn-danger col-lg-offset-2 col-md-2">重置
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="am-popup-inner am-modal-active " style="display: block;padding:50px">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">新增一级类型</button>
    <div class="zTreeDemoBackground left">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
</div>

<script th:src="@{/js/custom/projectType.js}"></script>

</body>
</html>
