<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目管理</title>
    <style>

        .surebutton {
            width: 100px;
            height: 50px;
        }

    </style>

</head>
<body>

<center><h2>首页项目设置</h2></center>

<div class=" am-popup-inner am-modal-active ">
    <div class="row">

        <div style="margin-top: 74px;">
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <center>未展示项目</center>
                    </h3>
                </div>
                <div class="panel-body select-contain">
                    <div class="input-group">
                        <input id="searchthis" type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-btn">
                            <button type="button" id="searchthat" class="btn btn-block">查询</button>
                        </div>
                    </div>
                    <select name="from" id="undo_redo" class="form-control" size="17" multiple="multiple">
                    </select>
                    <div class="row">
                        <div class="col-sm-6">
                            <!--<button type="button" id="undo_redo_move_up" class="btn btn-block"><i class="glyphicon glyphicon-arrow-up"></i></button>-->
                            <input type="hidden" id="pageNum" value="0"/>
                            <h5> 总条数：<span class="label label-default" id="totalNum"></span></h5>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" id="loadMore" class="btn btn-block">加载更多</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div style="height: 100px">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">最多展示条数</span>
                    <input type="text" name="maxNum" value="8" class="form-control" aria-describedby="basic-addon1"
                           disabled>
                </div>
            </div>
            <div>
                <!-- <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">回退</button>-->
                <button type="button" id="undo_redo_rightAll" class="btn btn-block"><i
                        class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="undo_redo_rightSelected" class="btn btn-block"><i
                        class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="undo_redo_leftSelected" class="btn btn-block"><i
                        class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="undo_redo_leftAll" class="btn btn-block"><i
                        class="glyphicon glyphicon-backward"></i></button>
                <!--<button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">前进</button>-->
            </div>
            <div style="height: 20px"></div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <center>已展示项目</center>
                    </h3>
                </div>
                <div class="panel-body select-contain">
                    <!--<input type="text" name="q" class="form-control" placeholder="Search...">-->
                    <select name="to" id="undo_redo_to" class="form-control" size="20" multiple="multiple">
                    </select>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="button" id="undo_redo_move_up" class="btn btn-block"><i
                                    class="glyphicon glyphicon-arrow-up"></i></button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" id="submit_order" class="btn btn-block">提交当前顺序</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" id="undo_redo_move_down" class="btn btn-block col-sm-6"><i
                                    class="glyphicon glyphicon-arrow-down"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="margin-top: 12px">
                            <h5>已选条数：<span class="label label-default" id="selectNum"></span></h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>

<script th:src="@{/js/custom/updateshow.js}"></script>
<script>
    jQuery(document).ready(function ($) {

        thefinalFuc(2)

    });

</script>

</body>
</html>