<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div class="modal fade" id="distributionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">打币</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addEvent" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="keystore">keystore</label>
                            <div class="col-md-10 control-label">
                                              <textarea class="form-control" type="text" id="keystore" rows="10"
                                                        name="keystore" style="border-left:none;"
                                                        autocomplete="off"
                                                        placeholder="" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="keystore">password</label>
                            <div class="col-md-10 control-label">
                                <input id="password" name="password" class="form-control" type="password"
                                       placeholder="password"/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-lg-offset-4 col-md-2 col-xs-offset-4 col-xs-2">
                            执行
                        </button>
                        <button type="reset" class="btn btn-danger col-lg-offset-2 col-md-2  col-xs-offset-2 col-xs-2">
                            重置
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="am-popup-inner am-modal-active " style="display: block;margin-top:-60px">
    <div>
        <div class="form-group" style="margin:10px 0 0 0">
            <select class="js-project-data-ajax js-states form-control "
                    style="width:100%"
                    id="id_label_single"></select>
        </div>

        <fieldset class="error-infos">
            <legend>打币状态</legend>
            <div class="form-group error-infos" style="margin-top: -35px">
                <div id="toolbar_" class="col-md-1 col-md-offset-11 form-group " style="text-align:left;">
                    <button type="button" id="error_table_distribution" onclick="error_table_distribution()"
                            style="margin-top: 15px" class="btn btn-primary">打币
                    </button>
                </div>
                <div class="form-group" style="padding-top:15px">
                    <table id="error_table"></table>
                </div>
            </div>
        </fieldset>

        <fieldset class="tx-infos" style="margin-top: -75px">
            <legend>交易记录</legend>
            <div class="form-group col-md-12 tx-infos " id="toolbar" style="margin-top: -15px">
                <div class="col-md-12" style="text-align:center;margin-bottom: 20px;">
                    <form class="form-inline">
                        <div class="form-group  col-md-4 ">
                            <label for="email_" class="control-label col-md-4"
                                   style="text-align: left">Email</label>
                            <input type="email" class="form-control col-md-8 "
                                   style="text-align: left;width: 66.66%"
                                   id="email_" placeholder="">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="userTxStatus_" class="control-label col-md-4"
                                   style="text-align: left">Tx状态</label>
                            <select class="form-control  col-md-8 " style="text-align: left;width: 66.6%"
                                    id="userTxStatus_"> </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="platformTxStatus_" class="control-label col-md-4"
                                   style="text-align: left">打币状态</label>
                            <select class="form-control  col-md-8 " style="text-align: left;width: 66.66%"
                                    id="platformTxStatus_"> </select>
                        </div>

                    </form>
                </div>
                <div class="col-md-12 " style="text-align:center;">
                    <div class="form-inline">
                        <div class="form-group col-md-8 ">
                            <label for="payTx_" class="control-label col-md-2"
                                   style="text-align: left">TxHash</label>
                            <input type="text" class="form-control col-md-10 "
                                   style="text-align: left;width: 83%"
                                   id="payTx_" placeholder="">
                        </div>
                        <div class="form-group col-md-3 ">
                            <label for="payTxId_" class="control-label col-md-6"
                                   style="text-align: left">payTxId</label>
                            <input type="text" class="form-control  col-md-6 " style="text-align: left;width: 50%"
                                   id="payTxId_" placeholder="">
                        </div>
                        <div class="form-group  col-md-1 ">
                            <button type="button" id="btn_query" class="btn btn-primary">
                                查询
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top:15px">
                <table id="tx_table"></table>
            </div>
        </fieldset>
    </div>
</div>
<script th:src="@{/js/custom/tx-info.js}"></script>
</body>
</html>